.newuser-main{
  height: 100vh;
}
.register-name{
  background: none;
  border: none;
  outline: none;
  color: white;
}
.register-name-div{
  border: 2px solid white;
  border-radius: 20px;
}
.button-login-reg{
  background:none;
  border-radius: 20px;
  color:white;
  background-color:green;
  border: none;
}
.user-page-div{
  border-radius: 20px;
}